slm/nohup.out
slm/wandb/*
slm/mlruns/*
slm/cefr_token_class/results/*
slm/cefr_token_class/mlruns/*
slm/cefr_evp_text_classifier/mlruns/*
llm/wandb/*
llm/nohup.out
task/results/*
task/baseline_results/*
setfit/checkpoints/*
setfit/mlruns/*
setfit/data/*
setfit/tmp_trainer/*
model_saved/*


